node_modules
build
coverage
.vscode
.DS_STORE
.env
tmp
database/data/seeded_users.txt
app/Helpers/FileUploadHelper_.ts
app/Helpers/ImageManipulationHelper.ts
app/Helpers/UploadHelper.ts
app/Controllers/Http/examples
public/uploads/profile_pictures
