// app global css in SCSS form
.no-underline {
  text-decoration: none;
}

.body--dark {
  .AIS__toolbar {
    color: $grey-3;
    background-color: $dark;

    .q-toolbar__title {
      color: $grey-3;
    }
  }

  .AIS__secondary_toolbar {
    color: $grey-3;
    background-color: $dark;

    .q-toolbar__title {
      color: $grey-3;
    }
  }

  /* .sticky-sidebar {
    .q-btn {
      color: $grey-3;
    }
  } */

  .q-btn,
  .sticky-sidebar .q-btn {
    color: var(--q-primary);
  }

  .AIS__side-btn__label {
    color: $grey-4;
  }

  .logout-btn {
    color: $grey-4;
    background-color: var(--q-primary);
  }

  .q-badge {
    background-color: var(--q-secondary);
  }

  .primary-toolbar-create-btn {
    color: $grey-3;
  }
}

.AIS__secondary_toolbar {
  color: var(--q-primary);
  background-color: var(--q-white);
}

.sticky-sidebar {
  .q-btn {
    color: $grey-9;
  }
}

.q-page-scroller {
  z-index: 5000;
}

.body--light {
  background-color: $light;
  .AIS__secondary_toolbar {
    background-color: $purple-1;
  }

  .q-btn {
    color: var(--q-primary);
  }

  .q-list > .q-item {
    color: var(--q-primary);
  }
}
