// app global css in SCSS form
.no-underline {
  text-decoration: none;
}

// Dark mode starts
.body--dark {
  .AIS__toolbar {
    color: $grey-3;
    background-color: $dark;

    .q-toolbar__title {
      color: $grey-3;
    }
  }

  .AIS__secondary_toolbar {
    color: $grey-3;
    background-color: $dark;

    .q-toolbar__title {
      color: $grey-3;
    }
  }

  /* .sticky-sidebar {
    .q-btn {
      color: $grey-3;
    }
  } */

  .q-btn,
  .sticky-sidebar .q-btn,
  aside.q-drawer .q-icon {
    color: var(--q-primary);
  }

  .AIS__side-btn__label,
  aside.q-drawer .q-item__label,
  aside .q-toolbar__title {
    color: $grey-4;
  }

  .logout-btn {
    color: $grey-4;
    background-color: var(--q-primary);
  }

  .q-badge {
    background-color: var(--q-secondary);
  }

  .primary-toolbar-create-btn {
    color: $grey-3;
  }

  .q-btn[type='submit'] {
    background-color: var(--q-accent);
    color: $grey-3;
  }

  .q-card__actions .q-btn {
    color: var(--q-secondary);
  }

  .footer {
    background-color: $dark;
  }

  .q-stepper {
    .q-stepper__caption {
      color: $grey-3;
    }
  }

  .AIS__auth_pages__container {
    background-color: $dark;
    .auth-form-card {
      background-color: $grey-10;
    }
    .form-footer {
      a {
        color: $grey-3;
      }
    }
    .form-logo {
      color: $accent;
    }
  }
}
// Dark mode ends

// Light mode starts
.body--light {
  background-color: $light;
  .AIS__secondary_toolbar {
    background-color: $purple-1;
  }

  .q-btn {
    color: var(--q-primary);
    &[type='submit'] {
      background-color: var(--q-primary);
      color: $grey-3;
    }
  }

  .q-list > .q-item {
    color: var(--q-primary);
  }

  .q-drawer {
    background-color: $light-solid;
  }

  .q-stepper {
    .q-stepper__caption {
      color: $accent;
    }
  }

  .AIS__drawer-item__active.q-item,
  .AIS__sticky-sidebar-item__active.q-item {
    .q-icon,
    .q-item__label {
      color: var(--q-accent);
    }
  }

  .AIS__auth_pages__container {
    background-color: $purple-2;
    .form-logo {
      color: $purple-10;
    }
    .form-title {
      color: $grey-10;
    }
    .auth-form-card {
      background-color: $grey-1;
    }
    .form-footer {
      color: $grey-10;
    }
    .form {
      .q-field__control {
        background-color: $purple-1;
        color: $purple-10;
      }
      .q-field__label {
        color: $purple-10;
      }
    }
    .form-footer {
      color: $accent;
      a,
      span {
        color: $accent;
      }
    }
    .demo-credentials {
      .demo-credentials-header {
        background-color: $accent;
      }
      .demo-credentials-icon {
        color: $grey-1;
      }
    }
  }
}
// Light mode ends

.AIS__secondary_toolbar {
  color: var(--q-primary);
  background-color: var(--q-white);
}

.sticky-sidebar {
  .q-btn {
    color: $grey-9;
  }

  .q-item {
    padding: 0;
  }
}

.q-page-scroller {
  z-index: 5000;
}

.q-footer {
  .q-tabs {
    .q-tab {
      padding: 0 12px;

      .q-tab__label {
        font-size: 0.6rem;
        font-kerning: normal;
      }
    }

    .q-tabs__content {
      justify-content: center !important;
    }

    button {
      color: $grey-3;
      .q-btn__content {
        flex-direction: column;
        & > i {
          margin-right: 0px !important;
          & ~ div {
            font-size: 0.6rem;
            align-items: center;
            color: $grey-3;
          }
        }
      }
    }
  }
}

input[type='file'] {
  display: none;
}

.AIS__sticky-sidebar-item:hover > .q-focus-helper {
  background: none !important;
}

.quotation-invoice-table {
  &.scroll {
    overflow-y: hidden;
    overflow-x: auto;
  }

  .q-field--with-bottom {
    padding-bottom: unset;
  }

  table {
    border: none !important;
  }
  thead,
  tbody {
    border: none !important;
  }

  .quotation-invoice-table-header {
    border: none !important;
    th {
      border: none !important;
    }
  }
  & ~ .q-table__bottom {
    border: none !important;
    justify-content: center;
    margin-top: 1rem;
    .q-table__control {
      display: none !important;
    }
  }
  tbody {
    tr,
    td {
      border: none !important;
      /* > label {
        padding-bottom: 0 !important;
      } */
    }
    .q-field__after {
      font-size: 1rem;
    }
  }
  .add-item-dropdown {
    > .q-btn {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .desc-column {
    min-width: 300px !important;
    .q-field__native {
      max-height: 250px;
      overflow-y: auto;
    }
  }

  .product-id-column {
    min-width: 300px !important;
  }

  .ghost-item {
    opacity: 0.5;
    background: $pink-1;
  }

  .qty-column {
    :has(.composite-qty) {
      width: 350px !important;
      min-width: 350px;
    }
    :not(:has(.composite-qty)) {
      width: 70px !important;
      min-width: 70px;
    }
    > label,
    .group-qty-input {
      > .q-field__inner {
        width: 60px !important;
        min-width: 60px;
      }
    }
  }

  .serial-number-column {
    .custom-serial-input {
      width: 50px !important;
      min-width: 50px;
    }
  }

  .unit-discount-column {
    :has(.discount-type-select-input) {
      width: 250px !important;
      min-width: 180px;
    }
    :not(:has(.discount-type-select-input)) {
      width: 60px !important;
      min-width: 60px;
    }

    > label,
    .group-qty-input {
      > .q-field__inner {
        width: 60px !important;
        min-width: 60px;
      }
    }
  }

  .group-qty-total {
    width: 80px !important;
    min-width: 80px;
  }

  .price-column {
    width: 120px !important;
    > label > .q-field__inner {
      width: 100px !important;
    }
  }

  .total-column,
  .line-discount-column {
    width: 110px !important;
    min-width: 110px;
    > label > .q-field__inner {
      width: 100px !important;
      min-width: 100px;
    }
  }

  .q-field--dense .q-field__control,
  .q-field--dense .q-field__marginal {
    height: unset;
  }

  .filled {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 0 0;
    line-height: 18px;
    min-height: 36px;
    height: 40px;
    padding-right: 0.75rem;
  }

  .bottom-row {
    height: 48px !important;
  }
}

.quotation-settings-accordion .before-select-label {
  line-height: 1.5;
  font-size: 14px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.q-table__bottom--nodata {
  margin-bottom: 5rem;

  .message {
    padding: 1rem 0;
    background-color: $warning;
    color: white;
  }
}

.invoice-quotation-view-table {
  width: 95%;
  thead {
    background-color: $deep-purple-8;
    color: white;
    tr {
      th {
        line-height: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  }

  tbody {
    tr:nth-of-type(even):not(.bottom-row) {
      background-color: $deep-purple-2;
      color: black;
    }

    tr,
    td {
      height: auto !important;
      white-space: normal;

      div {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }
    }
  }

  .bottom-row {
    height: auto !important;
    &:nth-last-child(odd) {
      td:last-child {
        background-color: $deep-purple-1;
        color: black;
      }
    }

    .total-qty-cell,
    .total-discount-cell,
    .subtotal-cell {
      background-color: $deep-purple-5 !important;
      color: white !important;
    }

    .bottom-rows-text,
    .grand-total-cell {
      font-weight: 500;
    }

    .grand-total-cell,
    .subtotal-cell {
      font-weight: 600;
    }
  }

  .desc-column,
  .product-id-column {
    width: 250px;
  }

  .qty-column {
    :has(.composite-qty) {
      width: 150px !important;
    }
    :not(:has(.composite-qty)) {
      width: 75px !important;
    }
  }

  .price-column,
  .unit-discount-column {
    width: auto !important;
  }
}

.invoice-quotation-body {
  .company-logo {
    padding-bottom: 1rem;
    border-bottom: solid 2px $deep-purple-8;
  }
  .footer {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: solid 2px $deep-purple-8;
  }
}
