// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: rgb(106, 27, 154);
$secondary: rgb(230, 81, 0);
$accent: rgb(194, 24, 91);

$dark: #212121;
$light: rgb(243 229 245 / 35%);

$positive: rgb(67, 160, 71);
$negative: rgb(211, 47, 47);
$info: rgb(25, 118, 210);
$warning: rgb(255, 111, 0);
